[Unit]
Description=sets the root password from the MDS data on first boot
ConditionPathExists=!/var/local/lib/avf/has-run/set-root-password
Wants=avf-connect-to-mds.service
After=avf-connect-to-mds.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/share/avf/bin/set-root-password

[Install]
WantedBy=multi-user.target
